<div style="text-align: center;">
    <h1>
        Hi {{name}}
    </h1>
    <h2>
        Confirm your 'Share your quizz' account
    </h2>

    <p>
        Thank you for joining our community, we are delighted to have you with us!
    </p>

    <p>
        Before accessing your account please confirm your account by clicking on this link :
    </p>
    <a href="{{url}}{{token}}">
        <h2>
            Confirm your account now
        </h2>
    </a>
    <p style="padding-top: 20px;">
        If you can't click on this link, please copy and paste this url on your browser:
    </p>
    <em>
        {{url}}{{token}}
    </em>
    <p>
        Please do not reply to this e-mail
    </p>
</div>