<div style="text-align: center;">
    <h1>
        Hi {{name}}
    </h1>
    <h2>
        'Share your quizz' password reset
    </h2>

    <p>
        We received a request to reset your password.
    </p>

    <p>
        If you did not make this request, you can ignore this email. Otherwise, please click the button below to reset your password:
    </p>

    <a href="{{password_reset_url}}{{token}}">
        <h2>
            Reset your password now
        </h2>
    </a>
    <p style="padding-top: 20px;">
        If you can't click on this link, please copy and paste this url on your browser:
    </p>
    <em>
        {{password_reset_url}}{{token}}
    </em>
    <p>
        Please do not reply to this e-mail
    </p>
</div>